SECRET_KEY='Add your very own secret key'
DEBUG=False 
DB_NAME='Your database name'
DB_USER='Your database user'
DB_PASSWORD='Your database password'
ALLOWED_HOSTS='.localhost', '.127.0.0.1'
DB_HOST='127.0.0.1'
MODE='dev' 
